#carousel {

    margin-top: 50px;

}

.carousel {
    height: 500px;
    margin-bottom: 60px;
}

.carousel-caption {
    z-index: 10;
}


.carousel .item {
    width: 100%;
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}
body{
  font-family:cursive;
}
.time{
  font-size:30px;
  font-family:cursive;
}
.form-inline{
    padding-left: 30%;
    font-size: 25px;
}
.text{
    font-family: Verdana;
}
.row{
    font-family: Verdana; 
}

