body{
	background-color: #BEC1B8;
	text-align: center;
}
p{
  letter-spacing: 1px;
}
.img{
	position: absolute;
right: 50px;
top: 50px;
}
.center{
  background-color: #D7C8A9;
  width: 80%;
  position: relative;
  left: 10%;
  bottom: 10px;
  height: 1500px;
}
.prgph{
  position: absolute;
  left: 200px;
  height: 100px;
  width: 500px;
}
h1 {
    font-family: 'Open Sans', serif;
font-size: 80px;
position: absolute;
left: 20px;
top: 0px;
}
.text{
	position: relative;
  top: 100px;
  width: 150px;
}
.fp{
	font-size: 20px;
  position: absolute;
  left: 20px;
  top: 170px;
  right: 380px;
}

.col-xs-6{
	position: absolute;
	top:550px;
}
