body {
    background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcREi5K4SD9GUX09tt01Fcg1XHnwdbYdKrgMDOdoqHWl5VWafFsmiw");
}
.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    top: 50%;
}
/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}
.container {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
margin-top: 42px;
}
.col-lg-4 {
width: 33.33333333%;
padding-left: 121px;
}
